/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"); */

a{
    text-decoration: none;   
  }
  
  /* header */
  .header {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 99;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      /* transition: all 0.5s ease; */
      height: 80px;
  }
  
  .header.fixed {
      background-color: #ffffff;
      box-shadow: 0 0 8px #cccccc;
  }
  .header .logo {
      padding: 0 15px;
      display: none;
      
  }
  
  .header .logo a {
      font-size: 30px;
      color: #ffffff;
      font-weight: bold;
      font-family: 'Righteous', cursive;
      letter-spacing: 2px;
      text-transform: uppercase;
      /* transition: all 0.5s ease; */
  }
  .header .logo a i {
      font-size: 30px;
      /* transition: all 0.5s ease; */
  }
  
  
  .header.fixed .logo a{
      color: #3b0202;
  }
  
  .header.fixed .logo a i {
      color: #000000;
  }
  
  .header .hamburger-btn {
      display: inline-block;
      width: 40px;
      height: 34px;
      border-radius: 3px;
      border:1px solid #ffffff;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      /* transition: all 0.5s ease; */
      display: none;
  }
  
  .header.fixed .hamburger-btn{
      border-color: #3b0202;
      background-color: #3b0202;
  }
  
  .header .hamburger-btn span {
      display: block;
      height: 1px;
      width: 16px;
      background-color: #ffffff;
      position: relative;
      /* transition: all 0.5s ease; */
  }
  /* .header.fixed .hamburger-btn span:before,
  .header.fixed .hamburger-btn span:after,
  .header.fixed .hamburger-btn span{
      background-color: #000000;
  } */
  .header .hamburger-btn span:before,
  .header .hamburger-btn span:after{
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      left: 0;
      background-color: #ffffff;
  }
  .header .hamburger-btn span:before{
      top: -6px;
  }
  .header .hamburger-btn span:after{
      top: 6px;
  }
  .header .nav {
      padding: 0 15px;
      margin-top: 5px;

  }
  
  .header .nav ul{
      list-style: none;
      margin: 0;
      padding: 0;
     
  }
  .header .nav ul li{
      position: relative;
      list-style: none;
      display: inline-block;
      margin-left: 40px;
      /* align-items: center; */
      cursor: pointer;
  }

  .header .nav ul li ul li {
      display: block;
      width: 200px;
      margin-left: 0px;
      /* height: 50px; */
      /* line-height:30px; */
      /* padding-bottom: 5px; */
  }

  .header .nav ul li ul li a {
    display: block;
    width: 200px;
    line-height: 3px;
    margin-left: 10px;
  }

  .header .nav ul li ul li:hover{
    background-color: #ffffff;
    /* color: white; */
    }
    .header .nav ul li ul li:hover a{
        /* background-color: #3b0202; */
        color: #000000;
    }

  .header.fixed .nav ul li ul li a {
    display: block;
    width: 200px;
    line-height: 10px;
  }

  .header .nav ul li ul {
      position: absolute;
      left: 0;
      background-color: rgba(19, 18, 18, 0.8);
      /* opacity: 1; */
      display: none;
  }


  .header.fixed .nav ul li ul {
    position: absolute;
    left: 0;
    background-color: #ffffff;
    opacity: 1;
    display: none;
}

.header.fixed .nav ul li ul li:hover{
    background-color: #3b0202;
    color: white;
}
.header.fixed .nav ul li ul li:hover a{
    /* background-color: #3b0202; */
    color: white;
}

  .header .nav ul li.active ul {
      display: block;
  }

  .header.fixed .nav ul li.active ul {
    display: block;
}

  .header .nav ul li.sub-menu::before {
      content: "\00bb";
      /* font-family: 'font Awesome'; */
      /* font-family: 'Font Awesome 5 Free'; */
      font-size: 25px;
      position: absolute;
      line-height: 65px;
      color: #ffffff;
      right: -20px;
     
  }

  .header .nav ul li.active.sub-menu::before {
    content: "\00ab";
    /* font-family: 'Font Awesome 5 Free'; */
    /* font-family: 'font Awesome'; */
    /* font-size: 30px; */
    font-size: 25px;
    position: absolute;
    line-height: 65px;
    color: #ffffff;
    right: -20px;
}

.header.fixed .nav ul li.active.sub-menu::before {
    content: "\00ab";
    /* font-family: 'font Awesome'; */
    /* font-family: 'Font Awesome 5 Free'; */
    font-size: 25px;
    position: absolute;
    line-height: 65px;
    color: #3b0202;
    right: -20px;
}

  .header.fixed .nav ul li.sub-menu::before {
    content: "\00bb";
    /* font-family: 'font Awesome'; */
    /* font-family: 'Font Awesome 5 Free'; */
    font-size: 25px;
    position: absolute;
    line-height: 65px;
    color: #3b0202;
    right: -20px;
}
  
  .header .nav ul li a{
      display: block;
      padding: 25px 0;
      color: #ffffff;
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
      /* transition: color 0.5s ease; */
  } 

  .header.fixed .nav ul li a {
      color: #3b0202;
  }

  /* .header .nav ul li a:hover{
      background-color: white;
      color: #000000;
      padding: 5px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
  } */

  @media (max-width:768px){
    .header .nav{
        display: block;
    }

    .header .nav ul li ul li {
        display: block;
        width: 200px;
        padding-top: 10px;
        height: 30px;
        /* line-height:30px; */
        /* padding-bottom: 5px; */
    }
}

  @media(max-width:767px) {

    .header .logo {
        padding: 8px 15px;
        display: block;
        color: #3b0202;
    }
    .header .hamburger-btn{
        display: flex;
        margin-right: 15px;
        color: #3b0202;
    }
    .header .nav{
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #ffffff;
        border-top: 1px solid #cccccc;
        display: none;
    }
    .header .nav ul li{
        display: block;
        margin-left: 0;
    }
    .header .nav ul li a{
        color: #555555;
        padding: 5px 0;
    }

    .header .nav ul li a:hover{
      /* background-color: white; */
      color: #000000;
      padding: 5px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
  }


    .header .nav ul li.active ul {
        position: relative;
        /* background-color: #000000 transparent; */
        background-color: #ffffff;
    }
    
    .header .nav ul li ul li {
        width: 100%;
        padding-left: 25px;
        padding-top: 5px;
    }

    
  .header .nav ul li.sub-menu::before {
    content: "\00bb";
    /* font-family: 'font Awesome'; */
    /* font-family: 'Font Awesome 5 Free'; */
    font-size: 25px;
  padding-right: 100px;
  /* padding-:240px; */
    position: absolute;
    line-height: 30px;
    color: #000000;
    /* right: -20px;    */
}

.header .nav ul li.active.sub-menu::before {
  content: "\00ab";
  /* font-family: 'Font Awesome 5 Free'; */
  /* font-family: 'font Awesome'; */
  /* font-size: 30px; */
  font-size: 25px;
  /* padding-right: 50px; */
  /* padding-left: 10px; */
  position: absolute;
  line-height: 30px;
  color: #000000;
  /* right: -20px; */
}

.header.fixed .nav ul li.active.sub-menu::before {
  content: "\00ab";
  /* font-family: 'font Awesome'; */
  /* font-family: 'Font Awesome 5 Free'; */
  font-size: 25px;
  /* padding-right: 50px; */
  /* margin-left: 10px; */
  position: absolute;
  line-height: 30px;
  color: #3b0202;
  /* right: -20px; */
}

.header.fixed .nav ul li.sub-menu::before {
  content: "\00bb";
  /* font-family: 'font Awesome'; */
  /* font-family: 'Font Awesome 5 Free'; */
  font-size: 25px;
  /* padding-right: 50px; */
  /* margin-left: 10px; */
  position: absolute;
  line-height: 30px;
  color: #3b0202;
  /* right: -20px; */
}
        
}

@media (max-width:1366px) and (min-width:768px) {
    .header {
        height: auto;
    }
}