@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

section {
    /* min-height: 100vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfdfd;
  }
  .ser-container {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    /* justify-content: left; */

    
    /* background-color: aqua; */
  }
  .left {
    width: 60%;
    height: 320px;
    border-radius: 8px;
    overflow: hidden;
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all ease 0.5s;
  }

  .left:hover{
    transform: scale(0.9);
  }

  .right {
    width: 50%;
    min-height: 250px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: #3d1919;
    margin-left: -120px;
  }
  .right h1 {
    font-size: 40px;
    font-weight: lighter;
  }
  .right p {
    margin: 0px 0;
    font-weight: 500;
    line-height: 25px;
    color: #000;
  }
  .right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #3d1919;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    display: inline-block;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }

  
  .right a:hover {
    background-color: #978585;
    transition: all 0.5s ease;
    color: rgb(2, 0, 0);
}
  
  /* Images Body Massage */
  
  @media only screen and (max-width: 768px) {
    section {
      background-color: rgb(88, 59, 59);
      }
    .ser-container {
      flex-direction: column;
      width: 100%;
      margin: 20px 20px;
      
    }
    .left {
      width: 100%;
      height: 400px;
    }
    .right {
      width: 90%;
      margin: 0;
      margin-top: -100px;
    }
  } 
  


