* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sec {
    background-image: url("../images/Special_offers/img.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
}

.btnback{
    width: 100px;
    height: 40px;
    /* background-color: rgb(92, 13, 13); */
    border: none;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    /* border: 2px solid rgb(92, 13, 13); */
    transition: .3s linear;
    padding: 10px;
    /* float: left; */
    /* margin-top: 20px; */
    margin-left: 10px;
    position: absolute;
    text-decoration: none;
  }
 

  .btnback i {
    color: #5e170a;
    font-size: 25px;
  }

    
.text h1 {
    text-align: center;
    text-decoration:underline;
    /* border-bottom: orange; */
    font-size: 50px;
    color: rgb(17, 3, 3);
    font-weight: bold;
}

.centertext {
    /* width: 1500px; */
    margin: 200px auto;
}

.centertext h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(39, 32, 32);
    font-weight: bold;
    animation: textanimation 1s ease-in-out;
}


@keyframes textanimation {
    0% {
        letter-spacing: 15px;
    }
    100% {
        letter-spacing: 1px;
    }
}

.centertext p {
    text-align: center;
    font-size: 30px;
    color: #811212;
    font-weight: bold;
    animation: textanimation2 0.5s ease-in-out;
}

@keyframes textanimation2 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.centertext h1{ display: block; }

.centertext1 h1 { display: none;}

.centertext p{ display: block; }

.centertext1 p { display: none;}


@media (max-width:768px){
    .kiran1 {
        display: none;
    }
}

/* @media (max-width: 768px) {

    .sec{
        background-image: url("../images/Special_offers/mob-img.jpg") ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0px;
            
    }

    .centertext h1{ display: none; }

    .centertext1 h1 { display: block;}

    .centertext p { display: none; }

    .centertext1 p { display: block;}

    

    .text {
        margin-top: 20px;
    }

    .text h1 {
        font-size: 35px;
    }
    
    .centertext1 {
       
        width: 1200px;
        margin: 206px auto; 
        
       
    }
    .centertext1 h1 {
        margin-top: -80px;
        margin-left: 30px;
        text-align: justify;
        font-size: 30px;
        color: rgb(39, 32, 32);
        font-weight: bold;
        animation: textanimation 1s ease-in-out;
    }
    .centertext1 p {
        text-align: justify;
        margin-left: 30px;
        font-size: 30px;
        color: #811212;
        font-weight: bold;
        animation: textanimation2 0.5s ease-in-out;
    }

    @keyframes textanimation {
        0% {
            letter-spacing: 10px;
        }
        100% {
            letter-spacing: 1px;
        }
    }
   
} */